<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @color.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @color.codigo %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
